@font-face {
    font-family: 'KoreanFrenchTypewriter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:visited { color: black;}
a:link { color:black; text-decoration: none;}

body{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    font-family: 'KoreanFrenchTypewriter';
}

body::after{
    width: 100%;
    height: 100%;
    content: "";
    background-image: url(hanji1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    height: 150px;
}

#icon{
    font-size: 50px;
    margin-left: 90px;
    width: 200px;
    margin-right: 1200px;
}

.header-menu_basic{
    background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    border: none;
    padding: 16px;
    margin-right: 200px;
}


#header-menu2__dropbtn {
    padding: 16px;
    font-size: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'KoreanFrenchTypewriter';
}
  
#header-menu2 {
    position: relative;
    display: inline-block;
}
  
#menu2__list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.568);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
#menu2__list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
}
  
#menu2__list a:hover {background-color: rgba(221, 221, 221, 0.61);}
  
#header-menu2:hover #menu2__list {display: block;}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    display:flex;
    flex-direction: column;
}

footer div p{font-size: 25px;}

footer img{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid rgb(rgb(99, 88, 69), green, blue);
}